:root {
  --font: 'Inter UI var alt', sans-serif;
  --blue: #3f46ad;
  --red: #d31d53;
  --green: #01684f;
  --dark: #222;
  --dark-alt: #333;
  --light: #f4f4f4;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: inherit;
}

html {
  font-family: var(--font);
  line-height: 1.5;
  color: white; 
  background: var(--dark)
}

#page {
  padding: 2em 1em 4em;
  margin: 0 auto;
  max-width: 960px;
}

.toasted-container.bottom-right {
  bottom: 20px !important;
  right: 20px !important;
}

table {
  border-collapse: collapse;
  width: 100%;
}

table, th, td {
  border: 1px solid var(--dark-alt);
  text-align: left;
}

th, td {
  padding: 0.5em;
}

form {
  border: 2px solid var(--dark-alt);
  padding: 1em;
  margin-top: 1em;
}

form h2,
form h3 {
  margin-bottom: 1em;
}

.input-group {
  display: block;
  margin-bottom: 1em;
}

.input-group label {
  font-size: 0.75em;
  font-weight: bold;
  text-transform: uppercase;
  display: block;
  margin-bottom: -0.25em;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

.input-group input, 
.input-group textarea, 
.input-group select {
  width: 100%;
  display: block;
  padding: 0.25em;
  font-size: 1em;
  -webkit-appearance: none;
  border: 1px solid grey;
  border-radius: 0;
  color: var(--dark);
  background: white;
} 

.radio {
  display: inline-block;
}

input[type=submit],
.btn,
button {
  background: var(--blue);
  color: white;
  padding: 0.5em;
  font-size: 1em;
  width: 100%;
  display: block;
  border: 0;
}

.radio input {
  position: absolute;
  opacity: 0;
  pointer-events: none;
  margin-left: 0;
}

.radio input + label {
  background: var(--dark-alt);
  margin-right: 0;
  display: inline-block;
  padding: 0.25em 0.5em;
  cursor: pointer;
  font-weight: normal;
}


.radio input:checked + label {
  background: var(--blue);
  color: white;
}